/* Reset */
*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    color: #666;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    padding: 0 2rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.burger .bar {
    position: relative;
    width: 25px;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}

.burger .bar::before,
.burger .bar::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
}

.burger .bar::before {
    top: -8px;
}

.burger .bar::after {
    top: 8px;
}

#menu-toggle:checked +.burger .bar {
    background-color: transparent;
}

#menu-toggle:checked +.burger .bar::before {
    transform: rotate(135deg);
    top: 0;
}

#menu-toggle:checked+.burger .bar::after {
    transform: rotate(-135deg);
    top: 0;
}

.dropdown {
    position: absolute;
    width: 100%;
    max-height: 0;
    top: 94px;
    left: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#menu-toggle:checked~.dropdown {
    max-height: 309px;
    border-top: 3px solid #2ea3f2;
}

.dropdown ul {
    list-style-type: none;
    padding: 2rem;
    line-height: 3em;
}

.dropdown ul li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(228, 226, 226);
    padding: 0 2rem;
}

.dropdown ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #999;
    font-weight: 600;
}

.dropdown ul li a:hover {
    color: #777;
}

.chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 50%;
    /* color: #999; */
    margin-left: 12px;
    flex-shrink: 0;
}

.chevron i {
    font-size: 14px;
}